@tailwind base;
@tailwind components;
@tailwind utilities;

/* 這裡不需要寫 @apply，我們已經在 layout.tsx 設定了 body class */

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 253, 251, 247;
  --background-end-rgb: 253, 251, 247;
}